:root {
  --background-color: #ffffff;
}
html {
  font-size: 16px;
  /* line-height below 1.6 causes mathjax equations to clip for whatever reason :( */
  line-height: 1.7em; 
  /* font-family: "Libre Franklin", "Helvetica Neue", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  counter-reset: footnoteButtonCounter 0 footnoteContentCounter 0;
}

/* Increase font size if screen width >768px */
@media (min-width: 768px)
body {
  font-size: 16px;
}

@media (min-width: 768px)
h2 {
  font-size: 19px;
}

.sticky-container {
  position: relative;
}

/*.col {
	padding: 10px;
	width: 50%;
}*/
/*
#chart {
	width: 100%;
}*/

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 25%;  A heuristic that makes it roughly centered. Needs fixing (Bruno) */
  /* top: calc(height); */
  bottom: 0;
  align-self: flex-end;
}

.footnote-button::before {
  counter-increment: footnoteButtonCounter;
  content: "[" counter(footnoteButtonCounter) "]";
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  overflow-x: auto;
  transition: max-height 0.2s ease-out;
}

.footnote-content::before{
  counter-increment: footnoteContentCounter;
  content: "[" counter(footnoteContentCounter) "]";
}

.scrollable-equation{
  overflow-x: auto;
}

.topGradient{
	height: 4em;
	width: 100%;
	background:linear-gradient(rgba(255, 255, 255, 0), var(--background-color));
	/* position: fixed; */
	/* top:0; */
	z-index: 100;
}